@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Features>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = null;

	var body = Model.Value("body");
}

<p>@body</p>

<p>Testing Ci/Cd</p>


